<h1>Deshawn's Minecraft Controller</h1>

<% if @authorized %>
  <% if @instance.status.to_s == "stopped" %>
    <p>The minecraft server is <span style="color: red; font-weight: bold;">OFF</span><p>
    <input type="button" onclick="window.location.href = 'index?operation=start'" value="Turn it on" />
  <% elsif @instance.status.to_s == "pending" or @instance.status.to_s == "stopping" %>
    <p>The minecraft server is starting/stopping... please wait a moment and refresh.</p>
  <% elsif @instance.status.to_s == "running" %>
    <p>The minecraft server is <span style="color: green; font-weight: bold;">ON</span>. The ip address is <span style="color: bold;"><%= @instance.ip_address %></span></p>
    <input type="button" onclick="window.location.href = 'index?operation=stop'" value="Turn it off" /> 
  <% else %>
    <p>Something is wrong... call uncle David</p>
  <% end %>

<% else %>
  <p>Enter your're super secret password:</p>
  <%= form_tag do %>
    <p>
      <%= text_field_tag :secret %>
      <%= submit_tag "Secret"%>
    </p>
  <% end %>
<% end %>
